pyvenv.cfg
.venv/
piper/
vosk*/
**/__pycache__
fakers/
**/users/*
**/graphs/*
.vscode/
**data/
**faces/
**/fonts/
**/.DS_Store
**.pickle
en-vosk/
**/data_learn/
**/net/
precise-engine/
christopher-precise/
marvin/
computer-en/