div#content-wrap {
  background: #333;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 5;
  -webkit-transition: transform 0.25s ease;
  -moz-transition: transform 0.25s ease;
  -ms-transition: transform 0.25s ease;
  -o-transition: transform 0.25s ease;
  transition: transform 0.25s ease;
}

div#content-wrap.minimized {
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

div#content-wrap.inactive {
  -moz-transform: scale(0.85) translate(0, 60%);
  -o-transform: scale(0.85) translate(0, 60%);
  -ms-transform: scale(0.85) translate(0, 60%);
  -webkit-transform: scale(0.85) translate(0, 60%);
  transform: scale(0.85) translate(0, 60%);
}

div#content-wrap.inactive div#overlay {
  display: block;
}

div#overlay {
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

div#content {
  padding: 15px;
  position: relative;
  z-index: 2;
}

div#background {
  background-size: cover;
  background-position: center;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px);
  -webkit-transition: background-image 0.25s ease;
  -moz-transition: background-image 0.25s ease;
  -ms-transition: background-image 0.25s ease;
  -o-transition: background-image 0.25s ease;
  transition: background-image 0.25s ease;
}

div#background::before {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}

div#background::after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #323232 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #323232 100%);
}

div#header {
  color: white;
}

div#header span {
  cursor: pointer;
  font-size: 20px;
}

div#header span .svg {
  height: 16px;
  width: 16px;
}

div#header span#menu-btn {
  float: left;
}

div#header span#options-btn {
  float: right;
}

div.jcarousel {
  left: -15px;
  width: calc(100% + 30px);
  position: relative;
  overflow: hidden;
}

div.jcarousel ul#songs {
  width: 20000em;
  position: relative;
}

div.jcarousel ul#songs li.song {
  float: left;
  margin: 10px 15px;
  text-align: center;
  width: calc(225px - 30px);
}

div.jcarousel ul#songs li.song img {
  width: 92.5%;
  -webkit-box-shadow: 0px 5px 25px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 5px 25px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 5px 25px rgba(50, 50, 50, 0.5);
}

div.jcarousel ul#songs li.song p {
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

div.jcarousel ul#songs li.song p.song-title {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0 5px;
}

div.jcarousel ul#songs li.song p.song-artist {
  color: #b3b3b3;
  font-size: 12px;
  margin: 0;
}

div#controls {
  color: white;
  display: table;
  margin: 10px auto 25px;
  text-align: center;
  width: 75%;
}

div#controls span {
  display: table-cell;
  font-size: 20px;
  vertical-align: middle;
}

div#controls span#play-btn {
  font-size: 34px;
}

div#controls span i {
  cursor: pointer;
}

div#sub-controls {
  color: #999999;
  cursor: default;
  font-size: 14px;
  margin: 15px 0 0;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

div#sub-controls .svg {
  height: 14px;
  position: relative;
  top: 2px;
  width: 14px;
}

div#sub-controls .svg path {
  fill: #999999;
}

div#sub-controls i,
div#sub-controls .svg {
  cursor: pointer;
  margin: 0 15px;
}

div#sub-controls i.active,
div#sub-controls .svg.active {
  color: #e74c3c;
}

div#timeline {
  position: relative;
  margin: 0 auto;
  width: 92.5%;
}

div#timeline span {
  color: #b3b3b3;
  font-size: 7px;
  position: absolute;
  top: -10px;
}

div#timeline span#current-time {
  left: 0;
}

div#timeline span#total-time {
  right: 0;
}

div#timeline div.slider {
  background-color: gray;
  border-radius: 2px;
  cursor: pointer;
  height: 2px;
  position: relative;
  width: 100%;
}

div#timeline div.slider div.progress {
  background-color: #e74c3c;
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 0;
}

div#timeline div.slider div.progress div.pin {
  background-color: white;
  border-radius: 8px;
  height: 8px;
  position: absolute;
  pointer-events: all;
  right: -5px;
  top: -3px;
  width: 8px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
  -webkit-transition: transform 0.25s ease;
  -moz-transition: transform 0.25s ease;
  -ms-transition: transform 0.25s ease;
  -o-transition: transform 0.25s ease;
  transition: transform 0.25s ease;
}

div#timeline div.slider div.progress div.pin:active {
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
