<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="description" content="TechWave">
    <meta name="author" content="Frenify">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Alex</title>


    <script>
        if (!localStorage.frenify_skin) {
            localStorage.frenify_skin = 'dark';
        }
        if (!localStorage.frenify_panel) {
            localStorage.frenify_panel = '';
        }
        document.documentElement.setAttribute("data-techwave-skin", localStorage.frenify_skin);
        if (localStorage.frenify_panel !== '') {
            document.documentElement.classList.add(localStorage.frenify_panel);
        }

    </script>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

</head>

<body>
    <!-- MAIN WRAPPER -->
    <div class="techwave_fn_wrapper fn__has_sidebar">
        <div class="techwave_fn_wrap">
            <!-- CONTENT -->
            <div class="techwave_fn_content">

                <!-- PAGE (all pages go inside this div) -->
                <div class="techwave_fn_page">

                    <!-- AI Chat Bot Page -->
                    <div class="techwave_fn_aichatbot_page fn__chatbot">

                        <div class="chat__page">
                            <div class="fn__title_holder">
                                <div class="container">
                                    <!-- Active chat title -->
                                    <h1 class="title">Chat With Alex</h1>
                                    <!-- !Active chat title -->
                                    <button class="change" id="change"
                                        style="right: 5%;top: 20px;width: 150px;height: 51%;float: right;position: absolute;border-radius: 25px;border: none;">Voice
                                        Mode</button>
                                </div>
                            </div>

                            <div class="container">
                                <div class="chat__list">
                                    <div class="chat__item active" id="messages">

                                    </div>
                                    <div class="chat__item deactive" id="voice">

                                    </div>
                                </div>
                            </div>


                            <div class="chat__comment">
                                <div class="container">
                                    <div class="fn__chat_comment" id="write">
                                        <textarea rows="1" placeholder="Send a message..."
                                            id="fn__chat_textarea"></textarea>
                                        <button id="send-button"><img
                                                src="{{ url_for('static', filename='enter.svg') }}" alt=""
                                                class="fn__svg"></button>
                                    </div>
                                    <div class="fn__chat_comment deactive" id="speach">
                                        <button id="wake-button"
                                            style="border: 2px solid var(--techwave-border-color);background-color: transparent;border-radius: 40px;outline: 0;width: 100%;padding: 18px 72px 16px 20px;font-size: 16px;line-height: 22px;height: 60px;">Talk</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- !AI Chat Bot Page -->

                </div>
                <!-- !PAGE (all pages go inside this div) -->


                <!-- FOOTER (inside the content) -->
                <footer class="techwave_fn_footer">
                    <div class="techwave_fn_footer_content">
                        <div class="copyright">
                            <p>2024© Tiago Bernardo</p>
                        </div>
                        <div class="menu_items">
                            <ul>
                                <li><a href="terms.html">Terms of Service</a></li>
                                <li><a href="privacy.html">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </footer>
                <!-- !FOOTER (inside the content) -->

            </div>
            <!-- !CONTENT -->


        </div>
    </div>
    <!-- !MAIN WRAPPER -->

    <script src="{{ url_for('static', filename='socket.io.js') }}"></script>
    <script>
        var socket = io();

        document.addEventListener("DOMContentLoaded", function () {
            var messageInput = document.getElementById("fn__chat_textarea");
            var messageConatiner = document.getElementById("write");
            var messageVoiceConatiner = document.getElementById("speach");
            var sendButton = document.getElementById("send-button");
            var wakeButton = document.getElementById("wake-button");
            var changeButton = document.getElementById("change");

            var messageDiv = document.getElementById("messages");
            var voiceDiv = document.getElementById("voice");

            active = "Text"

            sendButton.addEventListener("click", function () {
                send();
            });

            wakeButton.addEventListener("click", function () {
                socket.emit("wake", { confidence: 1.0 });
            });

            changeButton.addEventListener("click", function () {
                changeButton.innerText = `${active} Mode`
                var new_mode = "";
                if (active === "Text") {
                    new_mode = "Voice"
                    messageDiv.classList.remove("active")
                    messageDiv.classList.add("deactive")
                    voiceDiv.classList.remove("deactive")
                    messageConatiner.classList.add("deactive")
                    messageVoiceConatiner.classList.remove("deactive")
                    voiceDiv.classList.add("active")
                }
                else {
                    new_mode = "Text"
                    voiceDiv.classList.remove("active")
                    voiceDiv.classList.add("deactive")
                    messageConatiner.classList.remove("deactive")
                    messageVoiceConatiner.classList.add("deactive")
                    messageDiv.classList.remove("deactive")
                    messageDiv.classList.add("active")
                }
                socket.emit("change_mode", { mode: new_mode });
                active = new_mode;
            });

            messageInput.addEventListener("keyup", function (e) {
                if (e.key === "Enter") {
                    send();
                }
            });

            socket.on("receive_message", function (data) {
                var messageElement = document.createElement("div");
                messageElement.innerHTML = `<div class="author"><span>Alex:</span></div>
                                            <div class="chat">
                                                <p>${data.message}</p>
                                            </div>`;
                messageElement.classList.add("bot__chat", "chat__box")

                document.getElementById("messages").appendChild(messageElement);
            });
        });

        function send() {
            var messageInput = document.getElementById("fn__chat_textarea");
            var sendButton = document.getElementById("send-button");

            var message = messageInput.value.trim();
            if (message != "") {
                socket.emit("send_message", { message: message });
                var messageElement = document.createElement("div");
                messageElement.classList.add("chat__box", "your__chat")
                messageElement.innerHTML = `<div class="author"><span>You</span></div><div class="chat"><p>${message}</p></div>`;
                document.getElementById("messages").appendChild(messageElement);
            }
            messageInput.value = ""
        }
    </script>


</body>

</html>
