<!DOCTYPE html>
<html>

<head>
    <title>Chat App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='socket.io.js') }}"></script>
    <script>
        var socket = io();

        document.addEventListener("DOMContentLoaded", function () {
            var messageInput = document.getElementById("message-input");
            var sendButton = document.getElementById("send-button");

            sendButton.addEventListener("click", function () {
                var message = messageInput.value;
                var username = "Tiago Bernardo"; // Replace with actual username
                socket.emit("send_message", { message: message, username: username });
                var messageElement = document.createElement("div");
                messageElement.innerHTML = `<strong>${username}:</strong> ${message}`;
                document.getElementById("messages").appendChild(messageElement);
                messageInput.value = "";

            });

            socket.on("receive_message", function (data) {
                var messageElement = document.createElement("div");
                messageElement.innerHTML = `<strong>Alex:</strong> ${data.message}`;
                document.getElementById("messages").appendChild(messageElement);
            });
        });
    </script>
</head>

<body>
    <h1>Chat App</h1>
    <input id="message-input" type="text" placeholder="Type a message...">
    <button id="send-button">Send</button>
    <div id="messages"></div>
</body>

</html>
