@charset "utf-8";

:root,
[data-techwave-skin=light]:root {
    --techwave-main-color: #7c5fe3;
    --techwave-main-color1: #8768f8;
    --techwave-main-color2: #b7a4fb
}

hr,
select {
    outline: 0
}

.techwave_fn_preloader,
body {
    background-color: var(--techwave-site-bg-color)
}

.techwave_fn_wrapper:not(.fn__has_sidebar) .techwave_fn_image_generation_page .sidebar__trigger,
frenify_main,
h1>a:hover,
h2>a:hover,
h3>a:hover,
h4>a:hover,
h5>a:hover,
h6>a:hover {
    color: var(--techwave-main-color)
}

body,
select {
    font-size: 16px
}

.fn__nav_bar .item_popup,
.fn__token_info .token__popup {
    visibility: hidden;
    transform: translateY(20px);
    top: 100%;
    margin-top: -1px
}

.fn__gallery_items .author_name,
.fn__submit input,
.techwave_fn_button,
.techwave_fn_changelog .item__title span,
a.fn__like {
    white-space: nowrap;
    text-overflow: ellipsis
}

:root {
    color-scheme: dark;
    --techwave-site-bg-color: #0f0e11;
    --techwave-header-bg-color: #17151b;
    --techwave-some-r-bg-color: #17151b;
    --techwave-some-a-bg-color: #2b2830;
    --techwave-heading-color: #c0bcca;
    --techwave-body-color: #7e7a86;
    --techwave-border-color: #312e37;
    --techwave-button-bg-color: #1c1925;
    --techwave-hover-color: #fff;
    --techwave-heading-font-family: 'Heebo', sans-serif;
    --techwave-body-font-family: 'Work Sans', sans-serif;
    --techwave-left-panel-width: 300px;
    --techwave-header-height: 100px
}

[data-techwave-skin=light]:root {
    color-scheme: light;
    --techwave-site-bg-color: #fff;
    --techwave-header-bg-color: #f5f5f5;
    --techwave-some-r-bg-color: #f5f5f5;
    --techwave-some-a-bg-color: #e7e7e7;
    --techwave-heading-color: #333;
    --techwave-body-color: #444;
    --techwave-border-color: #ddd;
    --techwave-button-bg-color: #f5f5f5;
    --techwave-hover-color: #000
}

.fn__submit:hover,
.techwave_fn_button:hover,
.techwave_fn_leftpanel .group__list a.active .text {
    color: var(--techwave-hover-color)
}

html {
    overflow-x: hidden;
    padding: 0;
    margin: 0
}

*,
.techwave_fn_wrapper,
.techwave_fn_wrapper *,
:after,
:before {
    box-sizing: border-box
}

body {
    font-family: var(--techwave-body-font-family);
    letter-spacing: 0;
    line-height: 1.5;
    font-weight: 400;
    color: var(--techwave-body-color);
    position: relative;
    word-break: break-word
}

.fn__submit input,
.fn__token_info .token__popup,
.fn__token_info .token_summary,
.techwave_fn_button,
.techwave_fn_leftpanel .group__list .count,
.techwave_fn_leftpanel .group__list a,
h1,
h2,
h3,
h4,
h5,
h6,
select {
    font-family: var(--techwave-heading-font-family)
}

.heading_color,
frenify_typing span,
h1,
h1>a,
h2,
h2>a,
h3,
h3>a,
h4,
h4>a,
h5,
h5>a,
h6,
h6>a,
select {
    color: var(--techwave-heading-color)
}

.techwave_fn_button.small__border,
select {
    background-color: var(--techwave-some-a-bg-color)
}

.fn__svg {
    fill: currentcolor;
    width: 18px;
    height: 18px
}

.replaced-svg {
    opacity: 1
}

p {
    letter-spacing: 0;
    margin-bottom: 20px
}

.techwave_fn_sign .form__email,
.techwave_fn_sign .form__name,
.techwave_fn_sign .form__username,
.techwave_fn_user_settings .settings_right .item,
ol li {
    margin-bottom: 17px
}

.fn__nav_bar .bar__item_language .item_popup li:last-child,
.fn__nav_bar .bar__item_user .user_nav li:last-child,
.techwave_fn_leftpanel .group__list li:last-child,
.techwave_fn_leftpanel .nav_group:last-child,
ol li:last-child {
    margin-bottom: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.22;
    letter-spacing: 0
}

h1>a,
h2>a,
h3>a,
h4>a,
h5>a,
h6>a {
    text-decoration: none
}

select:focus {
    border-color: var(--techwave-main-color)
}

select {
    display: block;
    height: 40px;
    width: 100%;
    padding: 0 14px;
    border: 2px solid transparent;
    border-radius: 5px;
    position: relative;
    line-height: 40px
}

hr {
    border: none;
    border-top: 1px solid var(--techwave-border-color);
    margin: 0 0 20px
}

hr[data-h="2"] {
    border-top-width: 2px
}

hr[data-h="3"] {
    border-top-width: 3px
}

hr[data-h="4"] {
    border-top-width: 4px
}

hr[data-h="5"] {
    border-top-width: 5px
}

hr[data-h="6"] {
    border-top-width: 6px
}

hr[data-h="7"] {
    border-top-width: 7px
}

hr[data-h="8"] {
    border-top-width: 8px
}

hr[data-h="9"] {
    border-top-width: 9px
}

hr[data-h="10"] {
    border-top-width: 10px
}

.container {
    width: 100%;
    max-width: 1400px;
    padding: 0 40px;
    margin: 0 auto
}

.container.wide {
    max-width: 1680px
}

.container.small {
    max-width: 780px
}

.container.medium {
    max-width: 980px
}

.clearfix:after,
.clearfix:before,
.container:after {
    content: '';
    clear: both;
    display: table
}

.techwave_fn_button.has__icon,
.techwave_fn_content,
frenify_typing h3 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex
}

.techwave_fn_content {
    position: relative;
    min-height: calc(100vh - var(--techwave-header-height));
    transition: .2s;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column
}

.techwave_fn_footer {
    margin-top: auto;
    min-height: 71px;
    padding: 18px 40px;
    border-top: 1px solid var(--techwave-border-color)
}

.techwave_fn_footer_content {
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center
}

.section_home,
.techwave_fn_aichatbot_page,
.techwave_fn_footer .menu_items ul,
.techwave_fn_interactive_list ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex
}

.techwave_fn_footer .copyright p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    letter-spacing: .5px
}

.techwave_fn_footer .menu_items ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -30px;
    padding: 0;
    list-style-type: none
}

.techwave_fn_footer .menu_items li {
    margin: 5px 0 5px 30px
}

.techwave_fn_footer .menu_items a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: .5px
}

.section_home,
.techwave_fn_aichatbot_page {
    display: flex;
    min-height: calc(100vh - var(--techwave-header-height) - 71px)
}

.section_home .section_left {
    padding: 93px 40px 80px;
    border-right: 1px solid var(--techwave-border-color);
    width: 60%
}

.section_home .section_right {
    width: 40%;
    padding: 155px 40px
}

.section_home .company_info {
    margin: 0 auto;
    max-width: 350px
}

.section_home .company_info hr {
    margin-bottom: 24px
}

.section_home .company_info p,
.techwave_fn_aichatbot_page .fn__title_holder {
    position: sticky;
    margin-bottom: 40px;
    padding: 20px;
    z-index: 999;
    top: 0px;
    background-color: var(--techwave-site-bg-color);
}

.section_home .company_info img {
    margin-bottom: 25px
}

.section_home .techwave_fn_title_holder,
.techwave_fn_pricing_page .techwave_fn_title_holder {
    margin-bottom: 43px
}

.fn__title_holder .title,
.techwave_fn_image_generation_page .generation_header .title {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: 600
}

.fn__chat_comment,
.fn__icon_options,
.fn__select_model,
.techwave_fn_models .models__results,
.techwave_fn_user_billing .payment__methods .ready .edit_wrapper,
.techwave_fn_user_settings .input_item {
    position: relative
}


.fn__chatbot .author {
    position: absolute;
    left: 30px;
    top: -10px;
    display: block;
    height: 20px;
    padding: 0 15px;
    background-color: var(--techwave-main-color);
    color: #fff;
    font-family: var(--techwave-heading-font-family);
    font-weight: 500;
    font-size: 11px;
    letter-spacing: .5px;
    text-transform: uppercase;
    line-height: 20px;
    border-radius: 10px
}

.techwave_fn_aichatbot_page .chat__page {
    width: 100%;
    padding-top: 38px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 3
}

.techwave_fn_aichatbot_page .chat__sidebar,
.techwave_fn_doc_page .docsidebar,
.techwave_fn_image_generation_page .generation__sidebar {
    width: 300px;
    min-width: 300px;
    border-left: 1px solid var(--techwave-border-color);
    background-color: var(--techwave-header-bg-color);
    top: var(--techwave-header-height);
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
    transform: translateX(105%);
    transition: .2s
}

.techwave_fn_wrapper.fn__has_sidebar .techwave_fn_aichatbot_page .chat__sidebar,
.techwave_fn_wrapper.fn__has_sidebar .techwave_fn_doc_page .docsidebar,
.techwave_fn_wrapper.fn__has_sidebar .techwave_fn_image_generation_page .generation__sidebar {
    transform: translateX(0)
}

.techwave_fn_aichatbot_page .chat__sidebar .sidebar_content,
.techwave_fn_doc_page .docsidebar,
.techwave_fn_image_generation_page .generation__sidebar .sidebar_details {
    padding: 20px
}

.techwave_fn_aichatbot_page .chat__sidebar .sidebar_content ul,
.techwave_fn_doc_page .docsidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.fn__chat_comment .new__chat,
.techwave_fn_models .loading .tab__item {
    opacity: 0;
    visibility: hidden
}

.techwave_fn_aichatbot_page .chat__comment {
    margin-top: auto;
    position: sticky;
    bottom: 0;
    padding: 20px 0;
    background-color: var(--techwave-site-bg-color)
}

.fn__chat_comment .new__chat {
    position: absolute;
    width: 500px;
    max-width: 100%;
    bottom: 100%;
    margin-bottom: 53px;
    left: 50%;
    background-color: var(--techwave-some-r-bg-color);
    border: 1px solid var(--techwave-border-color);
    border-radius: 5px;
    padding: 35px 40px 33px;
    text-align: center;
    transform: translateY(-20px) translateX(-50%) translateZ(0);
    pointer-events: none;
    transition: .3s
}

.fn__chat_comment.neww .new__chat {
    transform: translateY(0) translateX(-50%) translateZ(0);
    opacity: 1;
    visibility: visible
}

.fn__generation_list .fn__gl__item:hover .all_options,
.fn__icon_options:hover .fn__icon_popup {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all
}

.fn__chat_comment .new__chat:after {
    position: absolute;
    left: 50%;
    margin-left: -19px;
    top: 100%;
    margin-top: -1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 19px 0;
    border-color: var(--techwave-some-r-bg-color) transparent transparent transparent;
    content: '';
    filter: drop-shadow(0px 1px var(--techwave-border-color))
}

.fn__chat_comment .new__chat * {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .5px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--techwave-body-color);
    font-family: var(--techwave-heading-font-family)
}

.fn__chat_comment textarea,
.fn__chatbot .chat,
.fn__icon_options .fn__icon_popup a,
.fn__icon_options .fn__icon_popup li,
.techwave_fn_doc_page .docsidebar a,
.techwave_fn_image_generation_page .generation_header .info,
.techwave_fn_image_generation_page .header_bottom textarea {
    font-weight: 400;
    font-family: var(--techwave-heading-font-family)
}

.fn__hidden_textarea {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-height: inherit;
    opacity: 0;
    pointer-events: none;
    overflow-y: scroll
}

.fn__chat_comment textarea {
    border: 2px solid var(--techwave-border-color);
    background-color: transparent;
    border-radius: 5px;
    outline: 0;
    display: block;
    width: 100%;
    padding: 18px 72px 16px 20px;
    font-size: 16px;
    line-height: 22px;
    max-height: 170px;
    resize: none;
    overflow-y: hidden;
    color: var(--techwave-heading-color)
}

.fn__chat_comment button,
.fn__new_chat_link {
    color: var(--techwave-heading-color);
    background-color: var(--techwave-some-a-bg-color)
}

#fn__chat_textarea::-webkit-scrollbar {
    width: 0
}

.fn__chat_comment textarea:focus,
.techwave_fn_image_generation_page .header_bottom textarea:focus {
    border-color: var(--techwave-main-color)
}

.fn__chat_comment button {
    position: absolute;
    width: 60px;
    height: 44px;
    bottom: 8px;
    right: 8px;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    border: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    transition: .3s
}

.fn__model_item.new .item .add:after,
.fn__model_item.new .item .add:before,
.fn__quantity a {
    background-color: var(--techwave-border-color)
}

.fn__chat_comment button.disabled {
    cursor: not-allowed;
    opacity: .5
}

.fn__chat_comment button:hover,
.fn__new_chat_link:hover {
    opacity: .8
}

.fn__chat_comment .fn__svg {
    width: 21px;
    height: 21px
}

.fn__chatbot .chat>:last-child:not(ul),
.fn__chatbot .chat__box:last-child,
.fn__icon_options .fn__icon_popup li:last-child,
.fn__select_model .all_models li:last-child {
    margin-bottom: 0
}

.fn_contact_form .input_list input,
.fn_contact_form .input_list textarea,
.techwave_fn_aichatbot_page .chat__item.active {
    display: block
}

.fn__chatbot .chat__box {
    position: relative;
    margin-bottom: 20px
}

.fn__chatbot .author * {
    position: relative;
    top: 1px
}

.fn__chatbot .chat {
    padding: 30px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.375
}

.fn__chatbot .chat a {
    text-decoration: underline;
    color: var(--techwave-main-color)
}

.fn__chatbot .chat a:hover {
    text-decoration: none
}

.fn__chatbot .your__chat .chat {
    background-color: var(--techwave-some-a-bg-color);
    color: var(--techwave-heading-color)
}

.fn__chatbot .bot__chat .author {
    background-color: var(--techwave-some-a-bg-color);
    color: var(--techwave-body-color)
}

.fn__chatbot .bot__chat .chat {
    background-color: var(--techwave-some-r-bg-color);
    border: 1px solid var(--techwave-border-color)
}


@media(max-width:1400px) {
    .fn__model_item {
        width: 25%
    }
}

@media(max-width:1367px) {
    .techwave_fn_interactive_list li {
        width: 100%;
        max-width: 100%
    }
}

@media(max-width:1200px) {
    .fn__model_item {
        width: 33.3333%
    }
}

@media(max-width:1040px) {
    :root {
        --techwave-header-height: 80px
    }

    .container {
        padding: 0 20px
    }

    .techwave_fn_image_generation_page .sidebar__trigger,
    .techwave_fn_leftpanel .desktop_closer,
    .techwave_fn_pricing .pricing__content {
        display: none
    }

    .fn__mobile_pricing,
    .techwave_fn_leftpanel .mobile_closer {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex
    }

    .font__trigger {
        right: 0
    }

    .techwave_fn_accordion .acc__title {
        font-size: 18px
    }

    .fn__generation_item,
    .techwave_fn_accordion .acc__content,
    .techwave_fn_accordion .acc__header,
    .techwave_fn_changelog .item__content,
    .techwave_fn_changelog .item__header,
    .techwave_fn_footer,
    .techwave_fn_image_generation_page .generation_header,
    .techwave_fn_img_lightbox .lightbox__related,
    .techwave_fn_img_lightbox .lightbox__tlimg,
    .techwave_fn_interactive_list.modern a,
    .techwave_fn_pricing .pricing__fields .item_col,
    .techwave_fn_pricing .pricing__footer .item_col,
    .techwave_fn_pricing .pricing__header .item_col,
    .techwave_fn_pricing .pricing__heading .item,
    .techwave_fn_sign,
    .techwave_fn_sign .form__content {
        padding-left: 20px;
        padding-right: 20px
    }

    .techwave_fn_aichatbot_page,
    .techwave_fn_doc_page,
    .techwave_fn_image_generation_page {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column-reverse;
        -moz-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        -o-flex-direction: column-reverse;
        flex-direction: column-reverse;
        min-height: inherit
    }

    .techwave_fn_wrapper.fn__has_sidebar .techwave_fn_content {
        margin-right: 0
    }

    .techwave_fn_aichatbot_page .chat__sidebar,
    .techwave_fn_image_generation_page .generation__sidebar,
    .techwave_fn_wrapper.fn__has_sidebar .techwave_fn_doc_page .docsidebar {
        position: relative;
        width: 100%;
        height: auto;
        left: auto;
        right: auto;
        top: auto;
        min-width: 100%;
        border-left: none;
        border-bottom: 1px solid var(--techwave-border-color)
    }

    .techwave_fn_searchbar {
        left: 0;
        padding: 0 20px
    }

    .techwave_fn_searchbar .search__icon {
        left: 20px
    }

    .techwave_fn_searchbar .search__closer {
        right: 20px
    }

    .techwave_fn_searchbar .search__input {
        padding-left: 25px;
        padding-right: 30px
    }

    .fn__grid_items li {
        width: 25%
    }

    .fn__gallery_item {
        width: 33.3333%
    }

    .techwave_fn_header {
        padding: 0 20px 0 60px;
        left: 0
    }

    .techwave_fn_leftpanel .mobile_extra_closer {
        position: absolute;
        left: 100%;
        width: calc(100vw - var(--techwave-left-panel-width));
        top: 0;
        bottom: 0;
        background-color: var(--techwave-some-r-bg-color);
        opacity: 0;
        pointer-events: none;
        margin-left: 1px
    }

    .section_home {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column
    }

    .section_home .section_left {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid var(--techwave-border-color);
        padding: 73px 20px 60px
    }

    .section_home .section_right {
        width: 100%;
        padding: 70px 20px
    }

    .section_home .company_info {
        max-width: 100%
    }

    .techwave_fn_content {
        margin-left: 0
    }

    .techwave_fn_leftpanel {
        transform: translateX(-100%)
    }

    .techwave_fn_leftpanel .fn__icon_button {
        right: -51px;
        width: 40px;
        height: 40px;
        transform: rotate(180deg);
        margin-top: -20px
    }

    .mobile-panel-opened .techwave_fn_leftpanel .fn__icon_button {
        transform: rotate(0)
    }

    .mobile-panel-opened .techwave_fn_leftpanel .mobile_extra_closer {
        opacity: .9;
        pointer-events: all
    }

    .mobile-panel-opened .techwave_fn_content,
    .mobile-panel-opened .techwave_fn_header {
        transform: translateX(300px)
    }

    .mobile-panel-opened .techwave_fn_leftpanel {
        transform: translateX(0)
    }
}

@media(max-width:900px) {
    .techwave_fn_pricing .item_row .item_col {
        width: 25% !important;
        max-width: 25% !important
    }

    .techwave_fn_pricing .pricing__header .price span {
        font-size: 20px
    }

    .techwave_fn_pricing .pricing__fields .item_col,
    .techwave_fn_pricing .pricing__footer .item_col,
    .techwave_fn_pricing .pricing__header .item_col,
    .techwave_fn_pricing .pricing__heading .item {
        padding-left: 10px;
        padding-right: 10px
    }

    .techwave_fn_img_lightbox .lightbox__top {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column
    }

    .techwave_fn_img_lightbox .lightbox__tl {
        width: 100%
    }

    .techwave_fn_img_lightbox .lightbox__tr {
        width: 100%;
        border-left: none;
        border-top: 1px solid var(--techwave-border-color)
    }
}

@media(max-width:768px) {
    .fn__mobile_pricing .pricing__item {
        width: 100%
    }

    .fn__gallery_item,
    .fn__generation_list .fn__gl_item,
    .fn__grid_items li,
    .fn__model_item {
        width: 50%
    }

    .fn__gallery_items .item__info {
        opacity: 1;
        visibility: visible;
        transform: translateY(0)
    }

    .techwave_fn_footer_content {
        flex-wrap: wrap
    }

    .techwave_fn_header .header__left {
        display: none
    }

    .techwave_fn_header {
        justify-content: flex-end
    }
}

@media(max-width:480px) {
    .container {
        padding: 0 10px
    }

    .fn__generation_item,
    .techwave_fn_accordion .acc__content,
    .techwave_fn_accordion .acc__header,
    .techwave_fn_changelog .item__content,
    .techwave_fn_changelog .item__header,
    .techwave_fn_image_generation_page .generation_header,
    .techwave_fn_sign,
    .techwave_fn_sign .form__content {
        padding-left: 10px;
        padding-right: 10px
    }

    .fn__details_list li,
    .fn__gallery_item,
    .fn__generation_list .fn__gl_item,
    .fn__model_item {
        width: 100%
    }

    .fn__grid_items ul {
        margin-left: -10px
    }

    .fn__grid_items li {
        padding-left: 10px;
        margin-bottom: 10px
    }

    .fn__nav_bar .user_opener {
        width: 50px;
        height: 50px
    }

    .techwave_fn_header {
        padding-right: 10px
    }

    .fn__nav_bar .item_opener .dark_mode {
        margin: -9px 0 0 -9px
    }

    .fn__nav_bar .bar__item {
        margin-right: 5px
    }

    .fn__nav_bar .bar__item_user {
        margin-left: 5px
    }

    .fn__nav_bar .item_opener {
        width: 40px;
        height: 40px
    }

    .fn__nav_bar .item_opener .fn__svg {
        width: 18px;
        height: 18px
    }
}
